@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 200px;
  background-color: #BBDDFF;
  font-family: cloudflare;
}
div.introduction {
  text-align: center;
}
div.pokemonResults {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
h1 {
  text-align: center;
}
h2 {
  font-size: 15px;
  text-align: center;
}
div.startContainer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
div.card {
  background-color: white;
  border: 2px solid #000088;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  margin: 30px 30px 30px 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5555FF;
  color: white;
  text-align: center;
}
